.container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

h2 {
  margin-bottom: 1.5rem;
  color: #1a1a1a;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}


th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.character-name {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.character-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.character-row {
  cursor: pointer;
  transition: background 0.2s;
}

.character-row:hover {
  background-color: #f0f8ff;
}
/* ======================= FONTES ======================= */
/*Revisar conceito para evitar repetição de css dentro dos components e usar esse como padrão para todos
Aulas Udemy - 36 a 40 */
p, h2, h3{
  font-family: 'Roboto', sans-serif;
  font-style: Bold;
  letter-spacing: 0%;
  line-height: 100%;
}

p{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
}

h2, h3{
  color: #045660;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* ======================= FONTES FIM ======================= */
