.sidebar {
  width: 56px;
  margin-top: 52px;
  height: 100vh;
  border-right: 2px solid var(--Primary, #045660);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: width 0.6s ease;
  overflow: hidden;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000; /*garante que o header fique por cima de tudo */
}

.sidebar.expanded {
  width: 160px;
}

.toggle-btn {
  background: none;
  border: none;
  margin-bottom: 65px;
  cursor: pointer;
}

.nav-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-icons li {
  margin-bottom: 20px;
}

/*Texto ao lados dos icones*/
.nav-icons button {
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  cursor: pointer;
}

/*Tamanho e cor dos icones*/
.nav-icons img {
  width: 24px;
  height: 24px;
  color: black;
  margin-left: 16px;
}

/*Tamanho fonte*/
.nav-icons span {
  font-size: 14px;
  white-space: nowrap;
}


.animation-icons {
  background-color: transparent;
  width: 90%;
  transition: background-color 0.3s ease, transform 0.2s ease !important;
  border-radius: 4px;
}

.animation-icons:hover {
  background-color: rgba(101, 184, 105, 0.678); /* tom suave da borda */
  transform: translateX(4px); /* leve deslocamento para a direita */
}



