<div class="container" *ngIf="!loading && episode; else loadingTemplate">
  <div class="card">
    <div class="title">
      {{ episode.episode }} | {{ episode.name }}
    </div>
    <div class="date">
      {{ episode.air_date }}
    </div>

    <h3>Personagens</h3>

    <div class="characters">
      <div class="character-card" *ngFor="let char of characters">
        <img [src]="char.image" [alt]="char.name" />
        <a>NAME</a>
        <p>ESPECIE</p>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="container">
    <p>Carregando episódio...</p>
  </div>
</ng-template>
